* {
  padding: 0;
  margin: 10px auto;
  box-sizing: border-box;
  width: 900px;
  font-family: "EB Garamond", serif;
}













/*FOOTER*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}